<div class="maincontainer">
    <div class="slider-container">
        <!-- Slides -->
        <div class="slide active">
            <img src="images/PhoneSlider.jpg" alt="Slide 1">
        </div>
        <div class="slide">
            <img src="images/smartwatchSlider.jpg" alt="Slide 2">
        </div>
        <div class="slide">
            <img src="images/clothSlider.jpg" alt="Slide 3">
        </div>
    
        <!-- Navigation buttons -->
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
    
        <!-- Dot indicators -->
        <div class="dots">
            <span class="dot active" onclick="currentSlide(0)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>

    <div class="container">
        <h3>Best Deals on Smartphones</h3>
        <ul class="productDetailsContainer">

        </ul>
        <a href="product.html" target="_blank">
            <input class="btn more_btn" type="button" value="view all">
        </a>
    </div>

    <div class="container">
        <h3>Best Deals on Laptop</h3>
        <ul class="productDetailsContainer1">

        </ul>
        <a href="product.html" target="_blank">
            <input class="btn more_btn" type="button" value="view all">
        </a>
    </div>

    <div class="container">
        <h3>Best Deals on Shoes</h3>
        <ul class="productDetailsContainer2">

        </ul>
        <a href="product.html" target="_blank">
            <input class="btn more_btn" type="button" value="view all">
        </a>
    </div>
</div>