<div class="leftContainer">
    <h1>Products</h1>
    <div class="Prd_categories" onclick="laptopPage()">Laptop</div>
    <div class="Prd_categories" onclick="mobilePage()">Mobile</div>
    <div class="Prd_categories" onclick="smartwatchPage()">Smartwatch</div>
    <div class="Prd_categories">Cameras</div>
    <div class="Prd_categories">Books</div>
    <div class="Prd_categories">Shoes</div>
    <div class="Prd_categories">T-Shirt</div>
    <div class="Prd_categories">TVs</div>
    <div class="Prd_categories">Washing machine</div>
    <div class="Prd_categories">Air Conditioners</div>
    <div class="Prd_categories">Earphone</div>
    <div class="Prd_categories">Headset</div>
    <div class="Prd_categories">Headphones</div>
    <div class="Prd_categories">Mobile Accessories</div>
    <div class="Prd_categories">Airdops</div>
    <div class="Prd_categories">Men's Clothing</div>
    <div class="Prd_categories">Women's Clothing</div>
    <div class="Prd_categories">kid"s Clothing</div>
</div>
<div class="rightContainer">
    <div class="ProductContainer">
        <h3>Bestsellers</h3>
        <ul class="productDetailsContainer3">

        </ul>
    </div>
    <div class="ProductContainer1">
        <h3>Laptop</h3>
        <ul class="laptopContainer">

        </ul>
    </div>
    <div class="ProductContainer2">
        <h3>Smartphones</h3>
        <ul class="mobileContainer">

        </ul>
    </div>
    <div class="ProductContainer3">
        <h3>Smartwatch</h3>
        <ul class="smartwatchContainer">

        </ul>
    </div>  
</div>