body{
    margin: 0px;
}
.header{
    height: 100px;
    width: auto;
    background-color: rgb(199, 199, 199);
    position: sticky;
    top: 0px;
    z-index: 5;
}
.menu{
    display: none;
    position: absolute;
    right: 50px;
    top: 40px;
}
.footer{
    height: 250px;
    background-color: rgb(199, 199, 199);
}
.mainContainer{
    height: auto;
}
.header img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -6px;
    left: 100px;
}
.nav{
    display: flex;
    flex-direction: row;
    float: right;
    list-style: none;
}
.nav li{
    margin-right: 30px;
    margin-top: 20px;
}
.nav li a{
    text-decoration: none;
    color: #525252;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav li a:hover{
    color: #000;
}

.loginContainer{
    border: 1px solid #ccc;
    width: 1250px;
    height: 600px;
    margin: 150px auto !important;
    z-index: 4;
    position: relative;
}
.sign-in{
    width: 600px;
    height: 600px;
    background-color: rgb(199, 199, 199);
}
.sign-in img {
    width: 250px;
    height: 250px;
    margin-left: 175px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.sign-in div {
    font-size: 18px;
    font-weight: 600;
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
}
.sign-in_click1{
    position: absolute;
    left: 200px;
    top: 370px;
    cursor: pointer;
}
.sign-in_click1 a{
    text-decoration: none;
    color: #525252;
    cursor: pointer;
}
.sign-in_click2{
    position: absolute;
    left: 315px;
    top: 370px;
    color: #525252;
    cursor: pointer;
}

.login{
    width: 648px;
    height: 600px;
    background-color: #efefef;
    position: absolute;
    left: 600px;
    top: 0px;
    border: 1px solid #efefef;
}

.login-page{
    list-style: none;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 3;
    display: block;
}
.login-page li{
    border: 1px solid #efefef;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;   
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    padding: 10px;
}
.login-page li input[type = text]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.login-page li input[type = password]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.login-page li input[type = button]{
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #ccc;
    border-color: #525252;
    color: #525252;
    font-size: 15px;
    font-weight: bold;
}
.login-page li p{
    margin-left: 72px;
    cursor: pointer;
}

.sign-in-page{
    list-style: none;
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 2;
    display: none;
}
.sign-in-page li{
    border: 1px solid #efefef;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;   
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    padding: 10px;
}
.sign-in-page li input[type = text]{
    border-radius: 5px;
    height: 20px;
    width: 150px;
    margin-left: 10px;
}
.sign-in-page li input[type = password]{
    border-radius: 5px;
    height: 20px;
    width: 150px;
    margin-left: 10px;
}
.sign-in-page li input[type = button]{
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #ccc;
    border-color: #525252;
    color: #525252;
    font-size: 15px;
    font-weight: bold;
}
.astric{
    color: red;
    position: relative;
    top: -2px;
    left: 1px;
}
.error{
    color: red;
    font-size: 12px;
    margin: 5px;
    display: none;
}

.Fg_password{
    list-style: none;
    position: absolute;
    top: 170px;
    left: 100px;
    z-index: 1;
    display: none;
}
.Fg_password li{
    border: 1px solid #efefef;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;   
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    padding: 10px;
}
.Fg_password li input[type = text]{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 10px;
}
.Fg_password li input[type = button]{
    border-radius: 5px;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #ccc;
    border-color: #525252;
    color: #525252;
    font-size: 15px;
    font-weight: bold;
}

.ft_about,
.ft_prdt,
.ft_contact,
.ft_follow{
    color:#525252;
    list-style: none;
    width: 475px;
    height: 220px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.ft_about img{
    width: 100px;
    height: 100px;
    margin: 10px 205px;
}
.ft_about p{
    font-size: 14px;
    padding-left: 50px;
    padding-right: 10px; 
}
.ft_prdt ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.ft_contact ul li{
    list-style: none;
    margin-top: 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.ft_follow ul li{
    list-style: none;
    margin-top: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;    
}
.socialContainer{
    width: 55%;
    height: 120px;
    margin: 10px auto;
    padding-left: 30px; 
}
.socialImag1{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: -2px 0px;
}
.socialImag2{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: -45px 0px;
}
.socialImag3{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: 95px 0px;
}
.socialImag4{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: 54px 0px;
}
.socialImag5{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: -2px -45px;
}
.socialImag6{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: -45px -45px;
}
.socialImag7{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: 95px -45px;
}
.socialImag8{
    background-image: url("../images/social_media_icon-removebg-preview.png");
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 10px;
    background-size: 180px 100px;
    background-position: 54px -45px;
}
.ft_title{
    font-size: 20px !important;
    font-weight: bold;
    text-align: center;
    margin-top: 30px !important;
}
.ft_copyright{
    color:#525252;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: auto;
    height: 30px;
    background-color: #efefef; 
    margin-top: 202px;
    font-family: Arial, Helvetica, sans-serif;
}

.abt_container{
    width: 1500px;
    margin: 80px auto;
    background-color: #fff;
    position: relative;
}
.abt_container1{
    width: 700px;
    display: flex;
    margin: 10px auto;
    background-color: #fff;
    border: 0px solid;
    position: relative;
}
.abt_left_container{
    width: 250px;
    position: relative;
    float: left;
    padding: 20px;
}
.abt_left_container img{
    width: 200px;
    height: 300px;
}
.abt_right_container{
    width: 450px;
    padding: 50px 0px;
}
.abt_right_container h3{
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(rgb(174, 174, 174) 30%,#6b6b6b 60%  , rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.abt_right_container span{
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(194, 194, 194) 30%,#525252 60%  , rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  
.abt_container h1{
    text-align: center;
    font-size: 40px;
    color: #757575;
    margin: 50px auto;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.abt_container p{
    text-align: left;
    font-size: 20px;
    color: #646464;
    margin: 10px auto;
    text-transform: capitalize;
    word-spacing: 1.2px;
    display: inline-flex;
}
.abt_img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}


.cnt_container{
    width: 1700px;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
    display: flex;
}
.cnt_container h1{
    text-align: center;
    font-size: 30px;
    color: #757575;
    margin: 50px auto;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: flex;
}
.cnt_left_container{
    width: 1248px;
    height: 800px;
}
.cnt_right_container{
    width: 448px;
    height: 800px;
    border: 1px solid;
}
.cnt_address li::marker{
    text-decoration: none;
}


@media  screen and (min-width: 1200px) and (max-width: 1700px) { 
    .ft_about,
    .ft_prdt,
    .ft_contact,
    .ft_follow{
        width: 25%;
        height: 220px;
    }
    .ft_about img{
        margin: 0px 150px;
    }
    .ft_about p{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 10px; 
        text-align: center;
    }
    .socialContainer{
        width: 75%;
        height: 120px;
        margin: 10px auto;
        padding-left: 30px; 
    }
    .abt_container{
        width: 1200px;
    }
    .abt_container p{
        margin: 10px auto;
        display: inline;
        padding: 10px;
        padding-bottom: 20px;
    }
    .cnt_container{
        width: 1400px;
    }
}
@media  screen and (min-width: 1000px) and (max-width: 1200px) { 
    .ft_about,
    .ft_prdt,
    .ft_contact,
    .ft_follow{
        width: 25%;
        height: 220px;
    }
    .ft_about img{
        margin: 0px 100px;
    }
    .ft_about p{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 10px; 
        text-align: center;
    }
    .socialContainer{
        width: 100%;
        height: 120px;
        margin: 10px auto;
        padding-left: 0px; 
    }
    .abt_container{
        width: 800px;
    }
    .abt_container p{
        margin: 10px auto;
        display: inline;
        padding: 10px;
        padding-bottom: 20px;
    }
    .cnt_container{
        width: 950px;
    }

    .loginContainer{
        width: 950px;
        margin: 80px auto !important;
    }
    .sign-in{
        width: 450px;
    }
    .login{
        width: 498px;
        left: 450px;
    }
    .sign-in img{
        margin-left: 95px;
    }
    .sign-in_click1{
        left: 122px;
    }
    .sign-in_click2{
        left: 250px;
    }
    .login-page{
        left: 35px;
    }
    .sign-in-page{
        left: 35px;
    }
    .Fg_password{
        left: 35px;
    }
}
@media  screen and (min-width: 799px) and (max-width: 1000px) { 
    .footer{
        height: 280px;
    }
    .ft_copyright{
        margin-top: 262px;
    }
    .ft_about,
    .ft_prdt,
    .ft_contact,
    .ft_follow{
        width: 25%;
        height: 280px;
    }
    .ft_about img{
        margin: 0px 80px;
    }
    .ft_about p{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 10px; 
        text-align: center;
    }
    .socialContainer{
        width: 100%;
        height: 180px;
        margin: 10px auto;
        padding-left: 0px; 
    }
    .abt_container{
        width: 800px;
    }
    .abt_container p{
        margin: 10px auto;
        display: inline;
        padding: 10px;
        padding-bottom: 20px;
    }
    .cnt_container{
        width: 780px;
    }

    .loginContainer{
        width: 750px;
        margin: 80px auto !important;
    }
    .sign-in{
        width: 350px;
    }
    .login{
        width: 398px;
        left: 350px;
    }
    .sign-in img{
        margin-left:50px;
    }
    .sign-in_click1{
        left: 82px;
    }
    .sign-in_click2{
        left: 205px;
    }
    .login-page{
        left: -30px;
    }
    .sign-in-page{
        left: -30px;
        top: 60px;
    }
    .sign-in-page li{
        font-size: 15px;
    }
    .Fg_password{
        left: -30px;
        top: 200px;
    }
}

@media  screen and (min-width: 600px) and (max-width: 799px) { 
    .footer{
        height: 320px;
    }
    .menu{
        display: block;
    }
    .nav{
        flex-direction: column;
        display: none;
        margin-top: 100px;
        float: left;
        background-color: #555555;
        width: 100%;
        margin-bottom: 20px;
    }
    .nav li{
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 5px;
        border-radius: 10px;
        width: 500px;
        padding: 10px;
    }
    .nav li a{
        color: #fff;
    }
    .nav li a:hover{
        color: #000;
    }
    .ft_copyright{
        margin-top: 300px;
    }
    .ft_about,
    .ft_prdt,
    .ft_contact,
    .ft_follow{
        width: 25%;
        height: 320px;
    }
    .ft_about img{
        margin: 0px 50px;
    }
    .ft_about p{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 10px; 
        text-align: center;
    }
    .ft_title{
        font-size: 16px !important;
    }
    .ft_contact ul li{
        font-size: 12px;
    }
    .ft_prdt ul li{
        font-size: 12px;
    }
    .socialContainer{
        width: 100%;
        height: 240px;
        margin: 10px auto;
        padding-left: 0px; 
    }
    .abt_container{
        width: 580px;
    }
    .abt_container p{
        margin: 10px auto;
        display: inline;
        padding: 10px;
        padding-bottom: 20px;
    }
    .abt_container1{
        width: 550px;
    }
    .abt_left_container{
        width: 200px;
    }
    .abt_left_container img{
        width: 150px;
        height: 250px;
    }
    .abt_right_container{
        width: 350px;
        padding: 30px 0px;
    }
    .cnt_container{
        width: 590px;
    }

    .loginContainer{
        width: 600px;
        margin: 80px auto !important;
    }
    .sign-in{
        width: 350px;
    }
    .login{
        width: 398px;
        left: 350px;
    }
    .sign-in img{
        margin-left:50px;
    }
    .sign-in_click1{
        left: 82px;
    }
    .sign-in_click2{
        left: 205px;
    }
    .login-page{
        left: -30px;
    }
    .sign-in-page{
        left: -30px;
        top: 60px;
    }
    .sign-in-page li{
        font-size: 15px;
    }
    .Fg_password{
        left: -30px;
        top: 200px;
    }
    .leftContainer{
        width: 25% !important;
    }
}

@media  screen and (min-width: 400px) and (max-width: 600px) { 
    .footer{
        height: 220px;
    }
    .header{
        height: 60px;
    }
    .header img{
        left: 30px;
        height: 50px;
        width: 50px;
        top: 5px;
    }
    .menu{
        display: block;
        top: 20px;
    }
    .menu svg{
        height: 20px;
        width: 20px;
    }
    .nav{
        flex-direction: column;
        display: none;
        margin-top: 60px;
        float: left;
        background-color: #555555;
        width: 90%;
        margin-bottom: 20px;
    }
    .nav li{
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
    }
    .nav li a{
        color: #fff;
        font-size: 12px;
    }
    .nav li a:hover{
        color: #000;
    }
    .ft_copyright{
        margin-top: 200px;
    }
    .ft_about,
    .ft_contact{
        width: 50%;
        height: 220px;
    }
    .ft_follow,
    .ft_prdt{
        display: none;
    }
    .ft_about img{
        margin: 0px 80px;
    }
    .ft_about p{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 10px; 
        text-align: center;
    }
    .ft_title{
        font-size: 16px !important;
    }
    .ft_contact ul li{
        font-size: 12px;
    }
    .ft_prdt ul li{
        font-size: 12px;
    }


    .socialContainer{
        width: 100%;
        height: 240px;
        margin: 10px auto;
        padding-left: 0px; 
    }
    .abt_container{
        width: 380px;
        margin: 40px auto;
    }
    .abt_container p{
        margin: 10px auto;
        display: inline;
        padding: 10px;
        padding-bottom: 20px;
    }
    .abt_container1{
        width: 350px;
    }
    .abt_left_container{
        width: 100px;
    }
    .abt_left_container img{
        width: 100px;
        height: 150px;
    }
    .abt_right_container{
        width: 250px;
        padding: 15px 0px;
    }
    .abt_right_container h3{
        font-size: 18px;
    }
    .abt_right_container span{
        font-size: 14px;
    }  
    .abt_container h1{
        font-size: 25px;
        margin: 25px auto;
    }
    .abt_container p{
        font-size: 16px;
    }


    .cnt_container{
        width: 390px;
        display: block;
    }
    .cnt_left_container{
        width: 390px;
    }
    .cnt_right_container{
        width: 390px;
    }

    .loginContainer{
        width: 380px;
        height: 790px;
        margin: 50px auto !important;
    }
    .sign-in{
        width: 380px;
        height: 300px;
    }
    .login{
        width: 380px;
        height: 490px;
        left: 0px;
        top: 300px;
    }
    .sign-in img{
        margin-left: 100px;
        width: 180px;
        height: 180px;
        margin-top: 30px;
    }
    .sign-in_click1{
        left: 95px;
        top: 220px;
    }
    .sign-in_click2{
        left: 230px;
        top: 220px;
    }
    .login-page{
        left: -40px;
        top: 70px;
    }
    .login-page li{
        width: 339px;
        font-size: 15px;
    }
    .login-page li p{
        margin-left: 90px;
    }
    .sign-in-page{
        left: -30px;
        top: 10px;
    }
    .sign-in-page li{
        font-size: 15px;
        width: 339px;
    }
    .sign-in-page li input[type="password"]{
        width: 140px;
    }
    .Fg_password{
        left: -40px;
        top: 145px;
    }
    .Fg_password li{
        width: 339px;
        font-size: 15px;
    }
    .leftContainer{
        width: 35% !important;
        margin: 5px !important;
    }
    .rightContainer{
        width: 59% !important;
        margin: 5px !important;
        display: block !important;
    }
}

@media  screen and (min-width: 300px) and (max-width: 400px) { 
    .footer{
        height: 238px;
    }
    .header{
        height: 60px;
    }
    .header img{
        left: 30px;
        height: 50px;
        width: 50px;
        top: 5px;
    }
    .menu{
        display: block;
        top: 20px;
    }
    .menu svg{
        height: 20px;
        width: 20px;
    }
    .nav{
        flex-direction: column;
        display: none;
        margin-top: 60px;
        float: left;
        background-color: #555555;
        width: 90%;
        margin-bottom: 20px;
    }
    .nav li{
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
    }
    .nav li a{
        color: #fff;
        font-size: 12px;
    }
    .nav li a:hover{
        color: #000;
    }
    .ft_copyright{
        margin-top: 220px;
    }
    .ft_about,
    .ft_contact{
        width: 39%;
        padding: 10px;
        height: 225px;
    }
    .ft_follow,
    .ft_prdt{
        display: none;
    }
    .ft_about img{
        margin: 0px 15px;
    }
    .ft_about p{
        font-size: 12px;
        padding-left: 0px;
        padding-right: 10px; 
        text-align: center;
    }
    .ft_title{
        font-size: 16px !important;
    }
    .ft_contact ul li{
        font-size: 12px;
    }
    .ft_prdt ul li{
        font-size: 12px;
    }


    .socialContainer{
        width: 100%;
        height: 240px;
        margin: 10px auto;
        padding-left: 0px; 
    }
    .abt_container{
        width: 290px;
        margin: 40px auto;
    }
    .abt_container p{
        margin: 10px auto;
        display: inline;
        padding: 10px;
        padding-bottom: 20px;
    }
    .abt_container1{
        width: 280px;
    }
    .abt_left_container{
        width: 100px;
    }
    .abt_left_container img{
        width: 100px;
        height: 150px;
    }
    .abt_right_container{
        width: 180px;
        padding: 0px 0px;
    }
    .abt_right_container h3{
        font-size: 18px;
    }
    .abt_right_container span{
        font-size: 14px;
    }  
    .abt_container h1{
        font-size: 25px;
        margin: 25px auto;
    }
    .abt_container p{
        font-size: 16px;
    }


    .cnt_container{
        width: 290px;
        display: block;
    }
    .cnt_left_container{
        width: 290px;
    }
    .cnt_right_container{
        width: 290px;
    }

    .loginContainer{
        width: 290px;
        height: 860px;
        margin: 50px auto !important;
    }
    .sign-in{
        width: 290px;
        height: 300px;
    }
    .login{
        width: 290px;
        height: 560px;
        left: 0px;
        top: 300px;
    }
    .sign-in img{
        margin-left: 60px;
        width: 180px;
        height: 180px;
        margin-top: 30px;
    }
    .sign-in_click1{
        left: 60px;
        top: 220px;
    }
    .sign-in_click2{
        left: 175px;
        top: 220px;
    }
    .login-page{
        left: -40px;
        top: 70px;
    }
    .login-page li{
        width: 250px;
        font-size: 15px;
    }
    .login-page li p{
        margin-left: 50px;
    }
    .login-page li input[type="button"]{
        margin-left: 60px;
    }
    .sign-in-page{
        left: -30px;
        top: 10px;
    }
    .sign-in-page li{
        font-size: 15px;
        width: 200px;
    }
    .sign-in-page li input[type="password"]{
        width: 140px;
    }
    .sign-in-page li input[type="button"]{
        margin-left: 60px;
    }
    .Fg_password{
        left: -40px;
        top: 145px;
    }
    .Fg_password li{
        width: 250px;
        font-size: 15px;
    }
    .Fg_password li input[type="button"]{
        margin-left: 60px;
    }
    .leftContainer{
        width: 40% !important;
        margin: 2px !important;
    }
    .rightContainer{
        width: 56% !important;
        margin: 2px !important;
        display: block !important;
    }
}



