<div class="container">
    <!-- Carousel -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
        <img src="images/New_Banner-1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="images/New_Banner-2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="images/New_Banner-3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>


    <!-- product card-1 -->
    <div class="row row-cols-1 row-cols-md-4 g-4 prd-card">
    <div class="col prd-card-1">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹199 | Best Cloths in ₹199</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-1.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Black casual shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-1.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Slique Apparels Check Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-1.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Black casual shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-1.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Slique Apparels Check Shirt</h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-2">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹299 | Best Cloths in ₹299</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-4.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">EMPORIUM Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-2.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Summer V Neck T Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-4.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">EMPORIUM Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-2.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Summer V Neck T Shirt</h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-3">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹399 | Best Cloths in ₹399</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-3.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">EMPORIUM Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-3.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">SHAYE Long Sleeves Shirts </h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-3.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">EMPORIUM Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-3.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">SHAYE Long Sleeves Shirts </h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-4">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹499 | Best Cloths in ₹499</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-2.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Lymio Casual Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-4.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">NEW-18 Denim Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-2.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Lymio Casual Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-4.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">NEW-18 Denim Shirt</h6>
            </a>
            </div>
        </div>
        </div>
    </div>
    </div>


    <!-- product slider-1 -->
    <div id="carouselExampleInterval1" class="carousel slide prd-slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- product slide-1 -->
        <div class="carousel-item active" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-1.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Slique Apparels Check Shirt</h5>
                <p class="card-text">Price: 199₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-2.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Summer V Neck T Shirt</h5>
                <p class="card-text">Price: 299₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-3.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">SHAYE Long Sleeves Shirts </h5>
                <p class="card-text">Price: 399₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-4.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">NEW-18 Denim Shirt</h5>
                <p class="card-text">Price: 499₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-2 -->
        <div class="carousel-item" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-5.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Yukani Cotton Shirts </h5>
                <p class="card-text">Price: 199₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-6.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Indian Threads Casual Shirt</h5>
                <p class="card-text">Price: 299₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-8.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Indietoga Women's Shirts</h5>
                <p class="card-text">Price: 399₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-7.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">INKAST Casual Shirts</h5>
                <p class="card-text">Price: 499₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-3 -->
        <div class="carousel-item"  data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-5.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Green Women's Shirt</h5>
                <p class="card-text">Price: 199₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-6.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">FITHUB Cotton Solid Shirt</h5>
                <p class="card-text">Price: 299₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-7.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Indietoga Women's Shirts</h5>
                <p class="card-text">Price: 399₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-8.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">VAGISHA Designer Shirt</h5>
                <p class="card-text">Price: 499₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>


    <!-- product card-2 -->
    <div class="row row-cols-1 row-cols-md-4 g-4 prd-card">
    <div class="col prd-card-1">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹199 | Best Cloths in ₹199</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-5.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Yukani Cotton Shirts </h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-5.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Green Women's Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-5.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Yukani Cotton Shirts </h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-5.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Green Women's Shirt</h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-2">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹299 | Best Cloths in ₹299</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-6.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Indian Threads Casual Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-6.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">FITHUB Cotton Solid Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-6.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Indian Threads Casual Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-6.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">FITHUB Cotton Solid Shirt</h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-3">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹399 | Best Cloths in ₹399</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-8.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Symbol Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-7.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Indietoga Women's Shirts </h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-8.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Symbol Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-7.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Indietoga Women's Shirts </h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-4">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting ₹499 | Best Cloths in ₹499</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-7.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">INKAST Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-8.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">VAGISHA Designer Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/mens_cloth-7.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">INKAST Casual Shirts</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="images/womens_cloth-8.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">VAGISHA Designer Shirt</h6>
            </a>
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- product slider-2 -->
    <div id="carouselExampleInterval2" class="carousel slide prd-slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- product slide-1 -->
        <div class="carousel-item active" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-1.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Black casual cotton shirt</h5>
                <p class="card-text">Price: 199₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-2.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">EMPORIUM Casual Shirts</h5>
                <p class="card-text">Price: 299₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-3.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">EMPORIUM Casual Shirts</h5>
                <p class="card-text">Price: 399₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-4.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lymio Casual cotton Shirts</h5>
                <p class="card-text">Price: 499₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-2 -->
        <div class="carousel-item" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-5.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Green Women's Shirt</h5>
                <p class="card-text">Price: 199₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-6.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">FITHUB Cotton Solid Shirt</h5>
                <p class="card-text">Price: 299₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-7.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Indietoga Women's Shirts</h5>
                <p class="card-text">Price: 399₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="images/womens_cloth-8.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">VAGISHA Designer Shirt</h5>
                <p class="card-text">Price: 499₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-3 -->
        <div class="carousel-item"  data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-5.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Yukani Cotton Shirts </h5>
                <p class="card-text">Price: 199₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-6.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Indian Threads Casual Shirt</h5>
                <p class="card-text">Price: 299₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-8.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Indietoga Women's Shirts</h5>
                <p class="card-text">Price: 399₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="images/mens_cloth-7.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">INKAST Casual Shirts</h5>
                <p class="card-text">Price: 499₹</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
