<div class="container">
    <!-- Carousel -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
        <img src="images/New_Banner-1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="images/New_Banner-2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="images/New_Banner-3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>


    <!-- product card-1 -->
    <div class="row row-cols-1 row-cols-md-4 g-4 prd-card">
    <div class="col prd-card-1">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting Under ₹1999 | Best Cloths in ₹1999</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="../images/Black_Printed_Crew_Neck_T-shirt.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Black Printed Crew Neck T-shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Beige_Organic_Cotton_Crew_Neck_T-shirt.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Beige Organic Cotton Crew Neck T-shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Black_Organic_Cotton_V-Neck_T-shirt.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Black Organic Cotton V-Neck T-shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Green_Embroidered_Print_T-shirt.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Green Embroidered Print T-shirt</h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-2">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting Under ₹4999 | Best Cloths in ₹4999</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="../images/Green_Cotton_Knitted_Shirt.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Green Cotton Knitted Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Elodie_Frill_Sleeve_Knit_Tank.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Elodie Frill Sleeve Knit Tank</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Black_Cotton_Knitted_Shirt.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Black Cotton Knitted Shirt</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Lexi_Self_Knit_Tank.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Lexi Self Knit Tank</h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-3">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting Under ₹9999 | Best Cloths in ₹9999</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="../images/Brown_Formal_Suit_Blazer.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Brown Formal Suit Blazer</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Simonna_Curve_Boucle_Blazer.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Simonna Curve Boucle Blazer </h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Brown_Structured_Blazer.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Brown Structured Blazer</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Taylor_double_breasted_blazer.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Taylor Double Breasted Blazer</h6>
            </a>
            </div>
        </div>
        </div>
    </div>

    <div class="col prd-card-4">
        <div class="card" style="width: 18rem;">
        <h4 class="card-title">Starting Under ₹19999 | Best Cloths in ₹19999</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
            <div class="col">
            <a href="#">
                <img src="../images/Light_Blue_Suit-Set_Blazer.webp" class="card-img-top" alt="...">
                <h6 class="card-title">Light Blue Suit-Set Blazer</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Nina_Heat_Seal_Maxi_Dress.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Nina Heat Seal Maxi Dress</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/black_jacquard_blazer-1.webp" class="card-img-top" alt="...">
                <h6 class="card-title">BLACK JACQUARD BLAZER</h6>
            </a>
            </div>
            <div class="col">
            <a href="#">
                <img src="../images/Elena_Velvet_One_Shoulder_Gown.jpg" class="card-img-top" alt="...">
                <h6 class="card-title">Elena Velvet One Shoulder Gown</h6>
            </a>
            </div>
        </div>
        </div>
    </div>
    </div>


    <!-- product slider-1 -->
    <div id="carouselExampleInterval1" class="carousel slide prd-slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- product slide-1 -->
        <div class="carousel-item active" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="../images/Light_Blue_Suit-Set_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Light Blue Suit-Set Blazer</h5>
                <p class="card-text">Price: ₹10500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="../images/Elena_Velvet_One_Shoulder_Gown.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Elena Velvet One Shoulder Gown</h5>
                <p class="card-text">Price: ₹16500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="../images/black_jacquard_blazer-1.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Black Jacquard Blazer</h5>
                <p class="card-text">Price: ₹12600</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="../images/Nina_Heat_Seal_Maxi_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Nina Heat Seal Maxi Dress</h5>
                <p class="card-text">Price: ₹18000</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-2 -->
        <div class="carousel-item" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="../images/Kylie_Asym_Crinkle_Midi_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Kylie Asym Crinkle Midi Dress</h5>
                <p class="card-text">Price: ₹16500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="../images/Grey_Check_Formal_Suit_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Grey Check Formal Suit Blazer</h5>
                <p class="card-text">Price: ₹6500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="../images/Nya_Metallic_Asym_Maxi_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Nya Metallic Asym Maxi Dress</h5>
                <p class="card-text">Price: ₹16500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="../images/Royal_Blue_Slim_Fit_Suit-Set_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Royal Blue Slim Fit Suit-Set Blazer</h5>
                <p class="card-text">Price: ₹7000</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-3 -->
        <div class="carousel-item"  data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="../images/Dark_Green_Woven_Slim_Suit-Set_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Dark Green Woven Slim Suit-Set Blazer</h5>
                <p class="card-text">Price: ₹6500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="../images/Delilah_Velvet_Bubble_Hem_Midi_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Delilah Velvet Bubble Midi Dress</h5>
                <p class="card-text">Price: ₹16500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="../images/Dark_Blue_Check_Print_Linen_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Dark Blue Check Print Linen Blazer</h5>
                <p class="card-text">Price: ₹6000</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="../images/Jayden_Petite_Metallic_Pleated_Maxi.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Jayden Petite Metallic Maxi</h5>
                <p class="card-text">Price: ₹13500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>


    <!-- product card-2 -->
    <div class="row row-cols-1 row-cols-md-4 g-4 prd-card">
        <div class="col prd-card-1">
            <div class="card" style="width: 18rem;">
            <h4 class="card-title">Starting Under ₹1999 | Best Cloths in ₹1999</h4>
            <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
                <div class="col">
                <a href="#">
                    <img src="../images/Black_Printed_Crew_Neck_T-shirt.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Black Printed Crew Neck T-shirt</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Beige_Organic_Cotton_Crew_Neck_T-shirt.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Beige Organic Cotton Crew Neck T-shirt</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Black_Organic_Cotton_V-Neck_T-shirt.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Black Organic Cotton V-Neck T-shirt</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Green_Embroidered_Print_T-shirt.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Green Embroidered Print T-shirt</h6>
                </a>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col prd-card-2">
            <div class="card" style="width: 18rem;">
            <h4 class="card-title">Starting Under ₹4999 | Best Cloths in ₹4999</h4>
            <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
                <div class="col">
                <a href="#">
                    <img src="../images/Green_Cotton_Knitted_Shirt.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Green Cotton Knitted Shirt</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Elodie_Frill_Sleeve_Knit_Tank.jpg" class="card-img-top" alt="...">
                    <h6 class="card-title">Elodie Frill Sleeve Knit Tank</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Black_Cotton_Knitted_Shirt.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Black Cotton Knitted Shirt</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Lexi_Self_Knit_Tank.jpg" class="card-img-top" alt="...">
                    <h6 class="card-title">Lexi Self Knit Tank</h6>
                </a>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col prd-card-3">
            <div class="card" style="width: 18rem;">
            <h4 class="card-title">Starting Under ₹9999 | Best Cloths in ₹9999</h4>
            <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
                <div class="col">
                <a href="#">
                    <img src="../images/Brown_Formal_Suit_Blazer.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Brown Formal Suit Blazer</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Simonna_Curve_Boucle_Blazer.jpg" class="card-img-top" alt="...">
                    <h6 class="card-title">Simonna Curve Boucle Blazer </h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Brown_Structured_Blazer.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Brown Structured Blazer</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Taylor_double_breasted_blazer.jpg" class="card-img-top" alt="...">
                    <h6 class="card-title">Taylor Double Breasted Blazer</h6>
                </a>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col prd-card-4">
            <div class="card" style="width: 18rem;">
            <h4 class="card-title">Starting Under ₹19999 | Best Cloths in ₹19999</h4>
            <div class="row row-cols-1 row-cols-md-2 g-4 prd-card-img">
                <div class="col">
                <a href="#">
                    <img src="../images/Light_Blue_Suit-Set_Blazer.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">Light Blue Suit-Set Blazer</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Nina_Heat_Seal_Maxi_Dress.jpg" class="card-img-top" alt="...">
                    <h6 class="card-title">Nina Heat Seal Maxi Dress</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/black_jacquard_blazer-1.webp" class="card-img-top" alt="...">
                    <h6 class="card-title">BLACK JACQUARD BLAZER</h6>
                </a>
                </div>
                <div class="col">
                <a href="#">
                    <img src="../images/Elena_Velvet_One_Shoulder_Gown.jpg" class="card-img-top" alt="...">
                    <h6 class="card-title">Elena Velvet One Shoulder Gown</h6>
                </a>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- product slider-2 -->
    <div id="carouselExampleInterval2" class="carousel slide prd-slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- product slide-1 -->
        <div class="carousel-item active" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="../images/Betty_Velvet_One_Shoulder_Maxi_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Betty Velvet Maxi Dress</h5>
                <p class="card-text">Price: ₹10901</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="../images/Navy_Blue_Linen_Check_Suit-Set_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Navy Blue Linen Suit-Set Blazer</h5>
                <p class="card-text">Price: ₹7000</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="../images/Quinn_Fringe_Bodycon_Maxi_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Quinn Fringe Maxi Dress</h5>
                <p class="card-text">Price: ₹13200</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="../images/Brown_Formal_Suit_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Brown Formal Suit Blazer</h5>
                <p class="card-text">Price: ₹5500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-2 -->
        <div class="carousel-item" data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="../images/Light_Pink_Slim_Fit_Suit_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Light Pink Slim Fit Suit Blazer</h5>
                <p class="card-text">Price: ₹6500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="../images/Sawyer_Asym_Velvet_Drape_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Sawyer Asym Velvet Drape Dress</h5>
                <p class="card-text">Price: ₹5000</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="../images/Blue_Slim_Fit_Suit_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Blue Slim Fit Suit Blazer</h5>
                <p class="card-text">Price: ₹5000</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="../images/Macy_Long_Sleeve_Velvet_Gown.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Macy Long Sleeve Velvet Gown</h5>
                <p class="card-text">Price: ₹16500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>

        <!-- product slide-3 -->
        <div class="carousel-item"  data-bs-interval="6000">
        <h1 class="card-title prd-slide-title">Products</h1>
        <div class="row row-cols-1 row-cols-md-4 g-4 prd-slide-card">

            <div class="col prd-slide-card-1">
            <div class="card" style="width: 15rem;">
                <img src="../images/Alora_Lace_Bodice_Maxi_Dress.jpg" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Alora Lace Bodice Maxi Dress </h5>
                <p class="card-text">Price: ₹13500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-2">
            <div class="card" style="width: 15rem;">
                <img src="../images/Brown_Structured_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Brown Structured Blazer</h5>
                <p class="card-text">Price: ₹7000</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
            <div class="col prd-slide-card-3">
            <div class="card" style="width: 15rem;">
                <img src="../images/Beige_Striped_Co-ord_Set_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Beige Striped Co-ord Set Blazer</h5>
                <p class="card-text">Price: ₹4125</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>

            <div class="col prd-slide-card-4">
            <div class="card" style="width: 15rem;">
                <img src="../images/Grey_Double_Button_Suit-Set_Blazer.webp" class="card-img-top1" alt="...">
                <div class="card-body">
                <h5 class="card-title">Grey Double Button Suit-Set Blazer</h5>
                <p class="card-text">Price: ₹6500</p>
                <a href="#" class="btn btn-outline-secondary prd-slide-btn">Buy</a>
                </div>
            </div>
            </div>
            
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
