<div class="mainContainer">
    <div class="leftContainer">
        <h3>Categories</h3>
        <dl>
            <a onclick="MensPage()"><dt>Mens</dt></a>
            <a href="#"><dd>Shirts</dd></a>
            <a href="#"><dd>T-shirts</dd></a>
            <a href="#"><dd>Suits</dd></a>
            <a href="#"><dd>Jeans</dd></a>
            <a href="#"><dd>Jackets</dd></a>
            <a href="#"><dd>Pants</dd></a>
            <a href="#"><dd>Shorts</dd></a>
            <a href="#"><dd>Chinos</dd></a>
            <a href="#"><dd>Blazzers</dd></a>

            <a onclick="WomensPage()"><dt>Womens</dt></a>
            <a href="#"><dd>T-Shirts</dd></a>
            <a href="#"><dd>Tank Tops</dd></a>
            <a href="#"><dd>Crop Tops</dd></a>
            <a href="#"><dd>Sweaters</dd></a>
            <a href="#"><dd>Hoodies</dd></a>
            <a href="#"><dd>Cardigans</dd></a>
            <a href="#"><dd>Peplum Tops</dd></a>
            <a href="#"><dd>Jeans</dd></a>
            <a href="#"><dd>Skirts</dd></a>
            <a href="#"><dd>Trousers</dd></a>
            <a href="#"><dd>Palazzo Pants</dd></a>
            <a href="#"><dd>Culottes</dd></a>
            <a href="#"><dd>Dresses</dd></a>
            <a href="#"><dd>Jackets</dd></a>
            <a href="#"><dd>Coats</dd></a>
            <a href="#"><dd>Blazers</dd></a>
            <a href="#"><dd>Ponchos</dd></a>
            <a href="#"><dd>Shrugs</dd></a>
            <a href="#"><dd>Sarees</dd></a>
            <a href="#"><dd>Lehengas</dd></a>
            <a href="#"><dd>Salwar Kameez</dd></a>

            <a onclick="KidsPage()"><dt>Kids</dt></a>
            <a href="#"><dd>T-Shirts</dd></a>
            <a href="#"><dd>Shirts</dd></a>
            <a href="#"><dd>Jeans</dd></a>
            <a href="#"><dd>Sweatpants</dd></a>
            <a href="#"><dd>Tank Tops</dd></a>
            <a href="#"><dd>Hoodies</dd></a>
            <a href="#"><dd>Sweatshirts</dd></a>
            <a href="#"><dd>Casual Dresses</dd></a>
            <a href="#"><dd>Party Dresses</dd></a>
            <a href="#"><dd>Denim Jackets</dd></a>
            <a href="#"><dd>Jackets</dd></a>
            <a href="#"><dd>Coats</dd></a>
            <a href="#"><dd>Kurta Pajamas</dd></a>
            <a href="#"><dd>Lehengas</dd></a>
            <a href="#"><dd>Rompers</dd></a>
            <a href="#"><dd>Bloomers</dd></a>
            <a href="#"><dd>Baby Gowns </dd></a>
        </dl>
    </div>
    <div class="rightContainer">
        <h3>Kids</h3>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>
            <div class="prdContainer"></div>

    </div>
</div>