<div class="mainContainer">
    <div class="leftContainer">
        <h3>Categories</h3>
        <dl>
            <a onclick="MensPage()"><dt>Mens</dt></a>
            <a href="#"><dd>Shirts</dd></a>
            <a href="#"><dd>T-shirts</dd></a>
            <a href="#"><dd>Blazers</dd></a>

            <a onclick="WomensPage()"><dt>Womens</dt></a>
            <a href="#"><dd>Shirts</dd></a>
            <a href="#"><dd>Tops</dd></a>
            <a href="#"><dd>Dresses</dd></a>
            <a href="#"><dd>Blazers</dd></a>
        </dl>
    </div>
    <div class="rightContainer" id="productDetailsBlock">
        
    </div>
</div>