<div class="mainContainer">
    <div class="leftContainer">
        <h3>Categories</h3>
        <dl>
            <dt><input type="checkbox" id="Type_Mens" value="Mens">&nbsp;Mens</dt></a>
            <dd><input type="checkbox" id="categories_Mens_shirt" value="Mens-Shirt">&nbsp;Shirts</dd>
            <dd><input type="checkbox" id="categories_Mens_T-shirt" value="Mens-T-Shirt">&nbsp;T-shirts</dd>
            <dd><input type="checkbox" id="categories_Mens_blazer" value="Mens-Blazer">&nbsp;Blazers</dd>

            <dt><input type="checkbox" id="Type_Womens" value="Womens">&nbsp;Womens</dt></a>
            <dd><input type="checkbox" id="categories_Womens_shirt" value="Womens-Shirt">&nbsp;Shirts</dd>
            <dd><input type="checkbox" id="categories_Womens_top" value="Womens-Top">&nbsp;Tops</dd>
            <dd><input type="checkbox" id="categories_Womens_dress" value="Womens-Dress">&nbsp;Dresses</dd>
            <dd><input type="checkbox" id="categories_Womens_blazer" value="Womens-Blazer">&nbsp;Blazers</dd>
        </dl>

        <h3>Price</h3>
        <input step="500" id="priceRange" type="range" min="500" max="20000" onchange="getPriceValue()"><span class="priceRangeValue"></span>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Brand 
                  </button>
                </h3>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <input type="checkbox" id="brand_1" value="SELECTED HOMME" class="filters">&nbsp;SELECTED HOMME<br>
                    <input type="checkbox" id="brand_2" value="Forever New" class="filters">&nbsp;Forever New<br>
                    <input type="checkbox" id="brand_3" value="VERO MODA" class="filters">&nbsp;VERO MODA<br>
                </div>
              </div>
            <div class="accordion-item">
              <h3 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Delivery Day
                </button>
              </h3>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <input type="checkbox" id="delivery_tommorow" value="Delivery on Tommorow" class="filters">&nbsp;Delivery on Tommorow <br>
                <input type="checkbox" id="deelivery_time" value="Delivery on Time" class="filters">&nbsp;Delivery on Time <br>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Discount
                </button>
              </h3>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <input type="checkbox" id="discount_10" value="10" class="filters">&nbsp;10% or more<br>
                <input type="checkbox" id="discount_20" value="20" class="filters">&nbsp;20% or more<br>
                <input type="checkbox" id="discount_30" value="30" class="filters">&nbsp;30% or more<br>
                <input type="checkbox" id="discount_40" value="40" class="filters">&nbsp;40% or more<br>
                <input type="checkbox" id="discount_50" value="50" class="filters">&nbsp;50% or more<br>
              </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Offers
                  </button>
                </h3>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <input type="checkbox" id="offer_1" value="Buy More, Save More" class="filters">&nbsp;Buy More, Save More<br>
                  <input type="checkbox" id="offer_2" value="Special Price" class="filters">&nbsp;Special Price<br>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Availability
                  </button>
                </h3>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <input type="checkbox" id="avialabilty_1" value="Include Out of Stock" class="filters">&nbsp;Include Out of Stock<br>
                </div>
              </div>
        </div>

        <button class="btn btn-dark filter" id="filter" onclick="applyFilter()">Filter</button>
        
    </div>
    <div class="rightContainer">
      <div id="carouselExampleInterval3" class="carousel slide prd_detail-slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="../images/New_Banner-1.png" class="d-block w-100 prd_detail-slide-img">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="../images/New_Banner-2.png" class="d-block w-100 prd_detail-slide-img">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="../images/New_Banner-3.png" class="d-block w-100 prd_detail-slide-img">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="rightContainer" id="productDetailsBlock">

      </div>
    </div>
</div>