.modal-header{
    background-color: #ccc;
}
.modal-footer{
    background-color: #ccc;
}
.modal-body{
    padding: 20px;
    text-align: center;
}
.form-floating{
    padding-bottom: 20px;
}
.modal-title{
    font-size: 30px;
    font-weight: bold;
}
.modal-body h1{
    padding-bottom: 20px;
    font-size: 27px;
    padding-top: 20px;
}

.modal-body ul {
    margin: 10px;
    padding: 10px;    
}

.modal-body ul li {
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #fff;
	 border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.captchaContainer img {
    height: 50px;
    margin-left: 35px;
}

#errMsgBlock {
    text-align: center;
    font-weight: bold;
    color: red;
	font-family: 'Times New Roman', Times, serif;
}

#passLogin{
    position: absolute;
    left: 390px;
    top: 208px;
}
#pswdSignUp {
    position: absolute;
    left: 410px;
    top: 130px;
}
#repassSignUp{
    position: absolute;
    left: 410px;
    top: 200px;
}
#frgtpwdmsg {
    text-align: center;
    font-weight: bold;
    color: green;
    display: none;
}
.modal-body p {
    text-align: center;
    font-weight: bold;
    color: red;
    display: none  
}
#signupmsg {
    text-align: center;
    font-weight: bold;
    color: green;
    display: none;
}