.mainContainer{
    display: grid;
    grid-template-columns: 250px auto;
    width: 90%;
    margin: 20px auto;
}
.leftContainer{
    border: 1px solid white;
    border-right-color: #b9b9b9;
    grid-column: 1/2;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.rightContainer{
    background-color: #fefefe;
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.leftContainer h3{
    font-size: 30px;
    padding: 20px;
    color: #525252;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.leftContainer a{
    text-decoration: none;
    cursor: pointer;
}
.leftContainer dt{
    font-size: 20px;
    padding-left: 21px;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 10px;
    color: #525252;
}
.leftContainer dd{
    font-size: 18px;
    padding-left: 35px;
    text-decoration: none;
    cursor: pointer;
}
.leftContainer dl a{
    color: #424242;
    cursor: pointer;
}
.leftContainer dt a:hover{
    color: #f38507;
    cursor: pointer;
}
.rightContainer h3{
    font-size: 40px;
    padding: 20px;
    padding-left: 50px;
    width: 100%;
    color: #525252;
    margin: 0px;
    height: 88px;
}
.rightContainer > .card{
    margin: 10px !important;
    width: 345px;
}

.rightContainer > .card img{
    height: 400px;
    width: 320px;
}

.rightContainer > .card p{
    padding-top: 10px;
}

.ratingBlock{
    /* position: absolute;
    top: 0px;
    left: 60px */
    position: relative;
    left: 0px;
}
currency{
    position: relative;
    top: -10px;
}
.discountPrice{
    font-size: 35px;
    color: #000;
}
.discountPercent{
    font-size: 18px;
    color: rgb(255, 149, 0);
    font-weight: bold;
}
.actualPrice{
    font-size: 20px;
    text-decoration: line-through;
    color: #525252;
}
#priceRange{
    margin-left: 20px;
    accent-color: #9e9e9e;
}
.priceRangeValue{
    margin-left: 5px;
    font-size: 18px;
    color: #424242;
}
.filters{
    margin-left: 20px;
}
.accordion-button{
    font-size: 27px !important;
    padding: 0px !important;
    color: #525252 !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.filter{
    margin-left: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 150px;
}
.productTitle{
    height: 55px;
}
.productSmallDesp{
    height: 100px;
}
.prd_detail-slide{
    width: 1400px;
    height: auto;
    background-color: #9e9e9e;
    margin: 0px auto;
}
.prd_detail-slide-img{
    height: auto;
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
    .prd_detail-slide{
        width: 1200px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .prd_detail-slide{
        width: 1000px;
    }
}