body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #000;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    min-height: 800px;
}
.py-5{
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
}
footer{
    background-color: #ccc;
    padding: 30px;
    margin-bottom: -23px;
}
.navbar-nav{
    position: absolute;
    right: 490px;
}
.login{
    position: absolute;
    right: 100px;
}
.sign-in{
    position: absolute;
    right: 5px;
}
.loginout{
    position: absolute;
    right: 70px;
}
.nav-link{
    color: #fff !important;
    cursor: pointer;
}
.nav-link:hover{
    color: #d2d2d2 !important;
    cursor: pointer;
}
.navbar-brand{
    color: #f2f2f2;
    padding-left: 20px;
}
.navbar-brand:hover{
    color: #d2d2d2;
    padding-left: 30px;
}
.dropdown-item{
    padding-left: 20px;
    cursor: pointer;
}
.dropdown-item:hover{
    padding-left: 30px;
    color: #525252;
    cursor: pointer;
}
.searchBar{
    position: absolute;
    right: 175px;
}
.ft-mail{
    position: absolute;
    right: 50px;
    margin-bottom: -20px;
}
.ft-company a{
    text-decoration: none;
    color: #454545;
}
.ft-company a:hover{
    text-decoration: none;
    color: #2d2d2d;
}
.ft-mail h5{
    padding-bottom: 10px;
    font-size: 25px !important;
}
.ft-mail input{
    width: 350px;
}
.list-unstyled{
    margin-right: 50px;
    font-size: 25px;
    padding-left: 10px;
}

@media screen and (min-width: 1400px) and (max-width: 1700px){
    .nav-link{
        font-size: 18px;
    }
    .dropdown-item{
        font-size: 16px;
    }
    .login{
        font-size: 16px;
    }
    .sign-in{
        font-size: 16px;
    }
    .loginout{
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
    .nav-link{
        font-size: 18px;
    }
    .dropdown-item{
        font-size: 16px;
    }
    .login{
        font-size: 16px;
    }
    .sign-in{
        font-size: 16px;
    }
    .loginout{
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px){
    .nav-link{
        font-size: 18px;
    }
    .dropdown-item{
        font-size: 16px;
    }
    .login{
        font-size: 16px;
    }
    .sign-in{
        font-size: 16px;
    }
    .loginout{
        font-size: 16px;
    }
    .searchBar{
        display: none !important;
    }
    .navbar-nav{
        right: 260px;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px){
    .nav-link{
        font-size: 18px;
    }
    .dropdown-item{
        font-size: 16px;
    }
    .login{
        font-size: 16px;
    }
    .sign-in{
        font-size: 16px;
    }
    .loginout{
        font-size: 16px;
    }
    .searchBar{
        display: none !important;
    }
    .navbar-collapse{
        margin-top: 0px;
        height: 345px !important;
        color: #fff;
        display: flex;
    }
    .navbar-nav{
        right: 0px;
        top: 50px;
    }
    .login{
        right: 16px;
        top: 235px !important;
        background-color: #f2f2f2;
    }
    .sign-in{
        right: 16px;
        top: 290px !important;
        background-color: #f2f2f2;
    }
    .loginout{
        right: 16px;
        top: 350px !important;
        background-color: #f2f2f2;
    }
    .dropdown-menu{
        position: absolute !important;
        top: 39px !important;
        left: -70px !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px){
    .nav-link{
        font-size: 15px;
    }
    .dropdown-item{
        font-size: 12px;
    }
    .login{
        font-size: 14px;
    }
    .sign-in{
        font-size: 14px;
    }
    .loginout{
        font-size: 14px;
    }
    .searchBar{
        display: none !important;
    }
    .navbar-collapse{
        margin-top: 0px;
        height: 330px !important;
        color: #fff;
        display: flex;
    }
    .navbar-nav{
        right: 0px;
        top: 50px;
    }
    .login{
        right: 16px;
        top: 214px !important;
        background-color: #f2f2f2;
    }
    .sign-in{
        right: 16px;
        top: 274px !important;
        background-color: #f2f2f2;
    }
    .loginout{
        right: 16px;
        top: 334px !important;
        background-color: #f2f2f2;
    }
    .dropdown-menu{
        position: absolute !important;
        top: 39px !important;
        left: -70px !important;
    }
    .ft-mail{
        display: none;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px){
    .nav-link{
        font-size: 15px;
    }
    .dropdown-item{
        font-size: 12px;
    }
    .login{
        font-size: 14px;
    }
    .sign-in{
        font-size: 14px;
    }
    .loginout{
        font-size: 14px;
    }
    .searchBar{
        display: none !important;
    }
    .navbar-collapse{
        margin-top: 0px;
        height: 330px !important;
        color: #fff;
        display: flex;
    }
    .navbar-nav{
        right: 0px;
        top: 50px;
    }
    .login{
        right: 16px;
        top: 214px !important;
        background-color: #f2f2f2;
    }
    .sign-in{
        right: 16px;
        top: 274px !important;
        background-color: #f2f2f2;
    }
    .loginout{
        right: 16px;
        top: 334px !important;
        background-color: #f2f2f2;
    }
    .dropdown-menu{
        position: absolute !important;
        top: 39px !important;
        left: -70px !important;
    }
    .ft-mail{
        display: none;
    }
}

@media screen and (min-width: 300px) and (max-width: 399px){
    .nav-link{
        font-size: 15px;
    }
    .dropdown-item{
        font-size: 12px;
    }
    .login{
        font-size: 14px;
    }
    .sign-in{
        font-size: 14px;
    }
    .loginout{
        font-size: 14px;
    }
    .searchBar{
        display: none !important;
    }
    .navbar-collapse{
        margin-top: 0px;
        height: 330px !important;
        color: #fff;
        display: flex;
    }
    .navbar-nav{
        right: 0px;
        top: 50px;
    }
    .login{
        right: 16px;
        top: 214px !important;
        background-color: #f2f2f2;
    }
    .sign-in{
        right: 16px;
        top: 274px !important;
        background-color: #f2f2f2;
    }
    .loginout{
        right: 16px;
        top: 334px !important;
        background-color: #f2f2f2;
    }
    .dropdown-menu{
        position: absolute !important;
        top: 39px !important;
        left: -70px !important;
    }
    .ft-mail{
        display: none;
    }
}